RewriteEngine on

RewriteCond %{HTTP_HOST} !^pwnshop.nl$ [NC]
RewriteRule ^(.*)$ http://pwnshop.nl/iwafa/ [L]

RewriteCond $1 !^(index\.php|img|javascript|css|robots\.txt)
RewriteRule ^(.*)$ /iwafa/index.php/$1 [L]
